<form class="places__sorting" action="#" method="get">
  <span class="places__sorting-caption">Sort by</span>
  <span
    appToggleSortOptions
    (toggleSortOptions)="onSortOptionsToggled($event)"
    class="places__sorting-type"
    tabindex="0">
    {{ sortType() }}
    <svg class="places__sorting-arrow" width="7" height="4">
      <use xlink:href="#icon-arrow-select"></use>
    </svg>
  </span>
  <ul
    class="places__options places__options--custom"
    [class.places__options--opened]="isSortOptionsOpen()"
    appCloseSortOptions>
    <li
      appSetSortPlacesOptions
      (sortTypeSelected)="handleSortTypeChanged($event)"
      [city]="city"
      [attr.data-sort-type]="SORT_TYPE.POPULAR"
      class="places__option"
      [class.places__option--active]="sortType() === SORT_TYPE.POPULAR"
      tabindex="0">
      Popular
    </li>
    <li
      appSetSortPlacesOptions
      (sortTypeSelected)="handleSortTypeChanged($event)"
      [city]="city"
      [attr.data-sort-type]="SORT_TYPE.PRICE_LOW_TO_HIGH"
      class="places__option"
      [class.places__option--active]="
        sortType() === SORT_TYPE.PRICE_LOW_TO_HIGH
      "
      tabindex="0">
      Price: low to high
    </li>
    <li
      appSetSortPlacesOptions
      (sortTypeSelected)="handleSortTypeChanged($event)"
      [city]="city"
      [attr.data-sort-type]="SORT_TYPE.PRICE_HIGH_TO_LOW"
      class="places__option"
      [class.places__option--active]="
        sortType() === SORT_TYPE.PRICE_HIGH_TO_LOW
      "
      tabindex="0">
      Price: high to low
    </li>
    <li
      appSetSortPlacesOptions
      (sortTypeSelected)="handleSortTypeChanged($event)"
      [city]="city"
      [attr.data-sort-type]="SORT_TYPE.TOP_RATED_FIRST"
      class="places__option"
      [class.places__option--active]="sortType() === SORT_TYPE.TOP_RATED_FIRST"
      tabindex="0">
      Top rated first
    </li>
  </ul>
</form>
